#email{
    color:gray;
    background-color: lightblue;
    border-radius: 10px;
    width:25%;
}
.div-table {
    display: table;         
    width: auto;         
    background-color: green;         
    border: 1px solid red;         
    
  }
  .div-table-row {
    display: table-row;
    width: auto;
    clear: both;
  }
  .div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: 200px;         
    background-color: #ccc;  
  }