#email{
    color:gray;
    background-color: lightblue;
    border-radius: 10px;
    width:25%;
    height:25px;
    margin-left: 20%;
}
#morse_text{
  border-radius: 10px;
    color:black;
    background-color: lightskyblue;
    width:40%;
    height:25px;
    text-align: center;
    margin-left: 10%;
}
#Morse_bulb{
  margin:auto;
  width:50%;
  max-width: 250px;
  max-height: 400px;

}
.p-table {
  display: table;         
  width: 80%;
  margin:auto;               
  border: 1px solid blueviolet;         
  
}
.p-row {
  display: table-row;
  width: 100%;
  clear: both;
  margin:auto;
  border:1px solid black;
  text-align: center;

}
.p-row-highlight{
  display: table-row;
  width: 100%;
  clear: both;
  margin:auto;
  border:1px solid black;
  text-align: center;
  background-color: yellow;

}
.p-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 16.5%;         
  text-align: center;
  word-wrap: break-word;
}
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  #center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

body{
  display:block;
}
#morse{
  font-size: 18px;
  font-weight: bold;
}
.subtittle{
  font-size: 16px;
  margin-left: 10%;
}
.top-header {
  color:orange;
  background-color: orangered;
  font-family: 'Times New Roman', Times, serif;
  font-size:20px;
}
.table-pic{
  max-width: 50%;
  max-height: 50%;
  margin-top: 5%;
}
  @media (min-width:700px) and (max-width: 1200px)
  {
    
    .navbar {
      background-color: lightseagreen;
      overflow: hidden;
    }
    
    .navbar h1
      {
        display:inline-block;
        padding: 0px;
        margin-left: 30px;
        
        
        color:darkgreen
      }
      .details{
        text-align: center; 
        width: 49%;
        display: inline-block;
        font-weight: bold;
        font-size:16px;
        margin-top: 10px;
      }
      .materia{
        text-align: center;
        font-weight: bold;
        font-size:18px;
        color:navy;
        }
    
    body{
      font-size: 12px;
      font-family: 'Times New Roman', Times, serif;
    }
    #table_header{
        
        font-size: 14px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:white;
        background-color: green;
        font-weight: bold;
        font-style: italic;
    }
    .p-row:nth-child(even){
      background-color:  whitesmoke;
    }
    .p-row:nth-child(odd){
        background-color: lightgreen;
    }
    .btn-grad {
      background-image: radial-gradient(cyan, orange, red);
      border-radius: 50%;
      width:45px;
      height: 45px;
      overflow: hidden;
      font-size: 10px;
      display:inline-block;
    }
    .btn-morse-black{
      background-color: black;
      color:white;
      border-radius: 50%;
      width:55x;
      height: 55px;
      margin-left: 10%;
      overflow: hidden;
      display:inline-block;
      font-size: 10px;

    }
    .btn-morse-yellow{
      background-color: yellow;
      color:black;
      border-radius: 50%;

      font-size: 10px;
      overflow: hidden;
    }
  }
  @media (min-width: 1200px)
  {
    .navbar {
      background-color: brown;
      overflow: hidden;
    }
    
    .navbar h1
      {
        display:inline-block;
        padding: 0px;
        margin-left: 30px;
        
        
        color:orange
      }
      .details{
        text-align: center; 
        width: 49%;
        display: inline-block;
        font-weight: bold;
        font-size:18px;
        margin-top: 10px;
      }
      .materia{
        text-align: center;
        font-weight: bold;
        font-size:20px;
        color:navy;
        }
    
    body{
      font-size: 14px;
      font-family: 'Times New Roman', Times, serif;
    }
    #table_header{
        
        font-size: 17px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:white;
        background-color: orangered;
        font-weight: bold;
        font-style: italic;
    }
    .p-row:nth-child(even){
      background-color:  whitesmoke;
    }
    .p-row:nth-child(odd){
        background-color: lightsalmon;
    }
    .btn-grad {
      background-image: radial-gradient(cyan, orange, red);
      border-radius: 50%;
      width:50px;
      height: 50px;
      overflow: hidden;
      font-size: 12px;

      display:inline-block;
    }
    .btn-morse-black{
      background-color: black;
      color:white;
      border-radius: 50px;
      width:60px;
      height: 60px;
      margin-left: 10%;
      font-size: 12px;

      overflow: hidden;
      display:inline-block;
    }
    .btn-morse-yellow{
      background-color: yellow;
      color:black;
      border-radius: 50%;

      font-size: 12px;

      overflow: hidden;
    }
  }
  @media (max-width: 701px)
  {
    .navbar {
      background-color: lightblue;
      overflow: hidden;
    }
    
    .navbar h1
      {
        display:inline-block;
        padding: 0px;
        margin-left: 30px;
        
        
        color:navy
      }
      .details{
        text-align: center; 
        width: 49%;
        display: inline-block;
        font-weight: bold;
        font-size:14px;
        margin-top: 10px;
      }
      .materia{
        text-align: center;
        font-weight: bold;
        font-size:16px;
        color:navy;
        }
    
    body{
      font-size: 10px;
      font-family: 'Times New Roman', Times, serif;
    }
    #table_header{
        
        font-size: 12px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:white;
        background-color: blue;
        font-weight: bold;
        font-style: italic;
    }
    .p-row:nth-child(even){
      background-color:  whitesmoke;
    }
    .p-row:nth-child(odd){
        background-color: lightskyblue;
    }
    .btn-grad {
      background-image: radial-gradient(cyan, orange, red);
      border-radius: 50%;
      width:40px;
      height: 40px;
      overflow: hidden;
      font-size: 8px;

      display:inline-block;
    }
    .btn-morse-black{
      background-color: black;
      color:white;
      border-radius: 50px;
      width:50px;
      height: 50px;
      margin-left: 10%;
      font-size: 10px;

      overflow: hidden;

    }
    .btn-morse-yellow{
      background-color: yellow;
      color:black;
      border-radius: 50%;
      height:100%;
       font-size: 10px;

      
      overflow: hidden;
    }
  }
  .code_printed{
    color:navy;
    font-weight: bold;
  }

  .lighted-bulb{
    content:url("../images/light_bulb.png");
  }
  .dark-bulb{
    content:url("../images/dark_bulb.png");
  }