.navbar {
    background-color: brown;
    overflow: hidden;
  }
  

  .navbar a {
    float: right;
    display: block;
    color: lightcoral;
    text-align: center;
    padding: 14px 16px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 14px;
    margin-right: 5px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
h1
{
    display:inline-block;
    padding: 0px;
    margin-left: 30px;
    
    
    color:orange
}
.Tittle-text{
  text-align: center;
  font-size: 24px;
}
.info-text{
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}
.ref-text{
  text-align: left;
  font-size: 14px;
  font-family: cursive;
}
.materia{
  text-align: center;
  font-weight: bold;
  font-size:20px;
  color:navy;
}
.matricula{
    float:right;
    font-weight: bold;
    font-size: 18px;
    color:navy;
    margin-right:25%;
    

}
.nombre{
    float:left;
    font-weight: bold;
    font-size: 18px;
    margin-left:25%;
    color:navy;
    
    }
.datos {
    display:inline;
}
.nbody{
    display:initial;
}
.details{
    text-align: center; 
    width: 49%;
    display: inline-block;
    font-weight: bold;
    font-size:18px;
    margin-top: 10px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }